<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swyxl.active.mapper.LiveMapper">
    <sql id="columns">
        id, identifier, name, cover, participants, status, create_uid, create_name, create_avatar, is_deleted, create_time, update_time
    </sql>

    <select id="batchSelectByName" resultType="com.swyxl.model.entity.service.manager.Live">
        select <include refid="columns"/> from live
        where name in 
        <foreach collection="channels" item="channel" open="(" close=")" separator=",">
            #{channel.channel_name}
        </foreach>
        and is_deleted = 0 and status = 2
    </select>
</mapper>