<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swyxl.user.mapper.UserInfoMapper">

    <sql id="columns">
        id, name, username, password, avater, age, phone, sex, authority, is_deleted, create_time, update_time
    </sql>

    <insert id="save">
        insert into user(id, name, username, password, avatar, age, phone, sex, authority, is_deleted, creat_time, update_time)
        values (#{id}, #{name}, #{username}, #{password}, #{avatar}, #{age}, #{phone}, #{sex}, #{authority}, #{isDeleted}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectByUsername" resultType="com.swyxl.model.entity.user.UserInfo">
        select <include refid="columns"/> from user where username = #{username} and is_deleted = 0
    </select>

    <select id="selectByPhone" resultType="com.swyxl.model.entity.user.UserInfo">
        select <include refid="columns"/> from user where phone = #{phone} and is_deleted = 0
    </select>
</mapper>