<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swyxl.manager.mapper.ActiveMapper">

    <sql id="columns">
        id, name, des,ac_code,year ,month, day, location, image, price, enrollment, participant, is_deleted, create_time, update_time
    </sql>

    <insert id="save">
        insert into active(name, des,ac_code, year, month, day, location, image, price)
        values (#{name}, #{des},#{acCode}, #{year}, #{month}, #{day}, #{location}, #{image},#{price})
    </insert>

    <select id="findById" resultType="com.swyxl.model.entity.service.active.Active">
        select <include refid="columns"/> from active where id = #{id} and is_deleted = 0
    </select>

    <select id="getByAcCode" resultType="com.swyxl.model.entity.service.active.Active">
        select <include refid="columns"/> from active where ac_code = #{acCode} and is_deleted = 0
    </select>

    <update id="update">
        update active
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="des != null">des = #{des},</if>
            <if test="acCode != null">ac_code = #{acCode},</if>
            <if test="year != null">year = #{year},</if>
            <if test="month != null">month = #{month},</if>
            <if test="day != null">day = #{day},</if>
            <if test="location != null">location = #{location},</if>
            <if test="image != null">image = #{image},</if>
            <if test="price != null">price = #{price},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <select id="getAll" resultType="com.swyxl.model.entity.service.active.Active">
       select <include refid="columns"/> from active where is_deleted = 0
    </select>


</mapper>