<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swyxl.manager.mapper.LiveMapper">

    <sql id="columns">
        id, identifier, name, cover, status, participants, push_add, pull_add, video, create_uid, create_name, create_avatar, is_deleted, create_time, update_time
    </sql>

    <insert id="insert">
        insert into live(identifier, name, cover, status, push_add, pull_add, video, create_uid, create_name, create_avatar)
        values (#{identifier}, #{name}, #{cover}, #{status}, #{pushAdd}, #{pullAdd}, #{video}, #{createUid}, #{createName}, #{createAvatar})
    </insert>

    <update id="update">
        update live
        <set>
            <if test="identifier != null">identifier = #{identifier},</if>
            <if test="name != null">name = #{name},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="status!= null">status = #{status},</if>
            <if test="pushAdd != null">push_add = #{pushAdd},</if>
            <if test="pullAdd != null">pull_add = #{pullAdd},</if>
            <if test="createUid != null">create_uid = #{createUid},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createAvatar != null">create_avatar = #{createAvatar},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <update id="status22">
        update live set status = 2, update_time = now() where
        identifier in
        <foreach collection="onlineInfos" item="o" separator="," open="(" close=")">
            #{o.StreamName}
        </foreach>
        and is_deleted = 0
    </update>

    <update id="updateOnline">
        update live set participants = #{online} where is_deleted = 0 and identifier = #{identifier}
    </update>

    <update id="deleteRoom">
        update live set is_deleted = 1, update_time = now() where id = #{id}
    </update>

    <update id="status23">
        update live set status = 3, update_time = now() where
        identifier not in
        <foreach collection="onlineInfos" item="o" separator="," open="(" close=")">
            #{o.StreamName}
        </foreach>
        and is_deleted = 0 and status = 2
    </update>

    <select id="selectAll" resultType="com.swyxl.model.entity.service.manager.Live">
        select <include refid="columns"/> from live where is_deleted = 0
    </select>

    <select id="page" resultType="com.swyxl.model.entity.service.manager.Live">
        select <include refid="columns"/> from live
        <where>
            <if test="name != null and name !=''">
                and name like concat('%',#{name},'%')
            </if>
            and is_deleted = 0
        </where>
        order by create_time desc
    </select>

    <select id="getByUid" resultType="com.swyxl.model.entity.service.manager.Live">
        select <include refid="columns"/> from live where is_deleted = 0 and create_uid = #{userId}
    </select>

    <select id="getById" resultType="com.swyxl.model.entity.service.manager.Live">
        select <include refid="columns"/> from live where is_deleted = 0 and id = #{id}
    </select>
</mapper>